<?php
// $myBlock = \Magento\Framework\App\ObjectManager::getInstance()->get('Pulmrocket\OutOfStock\Block\Catalog\Product\View\Enquiry');
if(!$block->isModuleEnabled() || $block->isInStock()) $display = 'display: none;';
else $display = '';
?>

<?php
    // <h2 style="background-color: light-grey;">
    // echo 'ID: ' . $block->getCurrentProductID() . ' URL: \''. $block->getCurProdUrl().'\'';
    //</h2>
?>
<!-- /////////////// -->
<div style="border: 1px solid #999; border-radius: 3px; overflow: hidden; <?php echo $display; ?>">
    <h3 style="background-color: #999; color: #fff; width: 100%; margin: 0; padding: 4px 0; text-align: center;">Subscribe to back in stock notification</h3>
    <div style="width: 96%; display: inline-flex; padding: 2%;">
        <input type="text" name="oos_mail" id="oos_mail">
        <button id="oos_sub" type="submit">Subscribe</button>
        <!-- <input type="button" value="Subscribe" style="display: inline-block" onclick="Subscribe()"> -->
    </div>
</div>
<script>
    require([
        'jquery'
    ], function ($) {
        $(document).ready(function () {
            var customurl = "<?php echo $this->getUrl().'oos/post/post'?>";
            $("#oos_sub").click(function () {
                var data = {
                    mail: $('#oos_mail').val(),
                    productID: <?php echo $block->getCurrentProductID(); ?>
                }
                $.ajax({
                    url: customurl,
                    method: 'POST',
                    data: data,
                    success: function (data) {
                        if(data.status) alert('Subscribe success!');
                        else
                            if(data.msg=='') alert('Subscribe failure!');
                            else alert(data.msg);
                    },
                    error: function (xhr, status, errorThrown) {
                        console.error(xhr);
                    }
                });
            });
        });
    });
    //https://magento.stackexchange.com/questions/158541/magento-2-how-to-send-data-using-ajax-form-in-custom-form
    // https://magento.stackexchange.com/questions/128669/how-to-make-a-simple-ajax-call-in-magento-2-1-0
    // Formkey :
    //https://stackoverflow.com/questions/20350387/this-getrequest-getpost-return-empty-array-in-magento-back-end-form-submi
</script>