<h2>Welcome to Pulmrocket</h2>
<?php /*echo '<pre>'; var_dump($this->_pageFactory->getLayout()->getUpdate()->getHandles()); echo '</pre>';*/ 
// $id = YOUR_PRODUCT_ID;
$sku = 'WS12';
// $_product = $block->getProductById($id);
$_product = $block->getProductBySku($sku);
echo $_product->getEntityId();
echo '<br />';
echo $_product->getSku();
echo '<br />';
echo $_product->getName();
?>