<?php
/*
Links:
Get Image: https://magento.stackexchange.com/questions/137057/how-to-get-product-image-and-url-in-magento-2
Clickable row: https://stackoverflow.com/questions/17147821/how-to-make-a-whole-row-in-a-table-clickable-as-a-link
Get currency: https://magento.stackexchange.com/questions/130391/magento-2-how-to-get-current-currency-and-symbol-in-phtml-file
*/
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$model = $objectManager->create(\Pulmrocket\OutOfStock\Model\Products::class);
$stockRepo = $objectManager->create(\Magento\CatalogInventory\Model\Stock\StockItemRepository::class);
$isModuleEnabled = $objectManager->create(\Pulmrocket\OutOfStock\Helper\Data::class)->isModuleEnabled();

//get currency symbol
$storeManager = $objectManager->get(\Magento\Store\Model\StoreManagerInterface::class); 
$currencyCode = $storeManager->getStore()->getCurrentCurrencyCode(); 
$currency = $objectManager->create(\Magento\Directory\Model\CurrencyFactory::class)->create()->load($currencyCode);
$currencySymbol = $currency->getCurrencySymbol();

$subs = $model->getSubsByMail($block->getCustomerEmail());
?>
<table class="oos-table" >
<tbody <?php if(!$isModuleEnabled) echo 'style="display: none;"'; ?>>
    <tr class="oos-table-head">
        <td colspan="5" style="text-align:center"><strong>Your Subscribed products</strong></td>
    </tr>
<?php 
foreach($subs as $sub) {
    $product = $block->getProductById($sub['product_id']);
    $inStock = $stockRepo->get($sub['product_id'])->getIsInStock() ? 'In stock' : 'Out of stock';
    $imgUrl = $this->getUrl().'media/catalog/product'.$product->getData('thumbnail');
    echo '<tr class="oos-clickable-row" data-href="'. $product->getProductUrl() .'">';
        echo '<td width="50"><img width="50" src="'.$imgUrl.'"></div>';
        echo '<td>'.$sub['product_name'].'</div>';
        echo '<td>'.$sub['product_sku'].'</div>';
        echo '<td>'.$inStock.'</div>';
        echo '<td>'.$block->getProductPrice($product).$currencySymbol.'</div>';
    echo '</tr>';
}
?>
</tbody>
</table>
<?php if(!$isModuleEnabled) echo '<h2>Sorry, but module was disabled by Administator</h2>'; ?>
<style>
.oos-table { border: 1px solid #1979c3; }
.oos-clickable-row { cursor: pointer; }
.oos-clickable-row>td { vertical-align: middle; }
.oos-clickable-row:nth-child(even) { background-color: #f2f2f2; }
.oos-clickable-row:hover { background-color: #ccc; }
.oos-table-head {
    background-color: #1979c3;
    color: white;
}
</style>
<script>
require(['jquery'], 
    function ($) {
        $(document).ready(function() {
            $(".oos-clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    }
);
</script>